<footer>

    <div class="footer-info">
        <div class="footer-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>

        </div>
        <div>&copy; AirBNB private limited</div>
        <div class="f-info-links">
            <a href="/listings/privacy" >Privacy</a>
         <a href="/listings/terms" >Terms</a>
     </div>
    </div>

</footer>