<%-layout("/layouts/nav.ejs")%>
<body>
    <div class="row mt-3">
        <h2 class="offset-2 mb-3" >New Lising</h2>
    <div class="col-8 offset-2" >


         <input type="text" id="address" placeholder="Enter Location first">
         <button onclick="forwardGeocode()">Search</button> 
    
          <br><br>

          <div id="map" ></div>

    <form method="POST" action="/listings" novalidate  class="needs-validation" enctype="multipart/form-data" >
     <div class="mb-3">
      <label for="title">enter title</label>
     <input name="title" placeholder="enter your title" class="form-control" required >
     <div class="invalid-feedback">please enter valid title</div>
     </div>

    <div class="mb-3">
      <label for="image">Upload image </label>
      <input name="image" placeholder="enter image url" type="file" class="form-control "  required> 
      <div class="invalid-feedback">please enter valid image</div>
    </div>

  <div class="row">
     <div class=" col-md-4">
     <label for="price">price</label>
     <input name="price"  placeholder="Enter price per night" type="number" class="form-control" required>
          <div class="invalid-feedback">enter valid price</div>
    </div>

   <div class="col-md-8">
      <label for="country" >country</label>
      <input name="country"  placeholder="Enter place country" class="form-control" required>
      <div class="invalid-feedback">enter country</div>
</div>
 </div>
       <div class="mb-3" >
       <label for="location" >enter location</label>
       <input name="location" placeholder="enter location" class="form-control" required >  
            <div class="invalid-feedback">please enter valid location</div>  
     </div>


       <div class="mb-3 " >
        <label for="description">enter description</label>
        <textarea name="description" placeholder="enter description" rows="5" cols="20" class="form-control" required></textarea>
          <div class="invalid-feedback">please enter a small description </div>
 </div>
         
        <button class="btn btn-add">Create</button>
       
    </form>

   
 
     
</div>
    </div>
</body>
